<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Autenticazione</servlet-name>
        <servlet-class>it.unimol.tirocinio.utils.auth.Servlet_auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>it.unimol.tirocinio.user.Servlet_registrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modulistica</servlet-name>
        <servlet-class>it.unimol.tirocinio.utils.document.Servlet_Compilazione_Modulistica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <servlet-class>it.unimol.tirocinio.webpage.Profilo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticazione</servlet-name>
        <url-pattern>/Autenticazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modulistica</servlet-name>
        <url-pattern>/Modulistica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilo</servlet-name>
        <url-pattern>/Profilo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
